<!doctype html>
<html ng-app="DeviceStatusApp">
	<head>
		<meta charset="utf-8" />
		<title>Tinymesh Cloud Device Status Example</title>
		<link href="bootstrap.min.css" rel="stylesheet">

		<style type="text/css">
			.net-selector {
				position: absolute;
				top: 40px;
				right: 0px;
			}
			.dropdown-toggle {
				position: relative;
			}
			.dropdown-toggle:hover .dropdown-menu {
				display: block;
				top: 30px;
			}
		</style>

	</head>

	<body ng-controller="AuthController">

		<div class="container">

			<div ng-if="false === auth" ng-include="'auth-partial.html'"></div>

			<div
				ng-if="false !== auth"
				class="col-xs-10 col-xs-push-1"
				ng-controller="DeviceStatusController">

				<div class="row">
					<div class="page-header">
						<h2>Device Status Example</h2>
					</div>

					<div class="net-selector">
						<div ng-if="network" class="dropdown-toggle pull-left">
							<button type="button" class="btn btn-default">
								Type Filter: {{filterType || 'All'}} <span class="caret"></span>
							</button>
							<ul class="dropdown-menu" role="menu">
								<li ng-repeat="(t, v) in network.types">
									<a href="" ng-click="setFilter(t)">{{t}}</a>
								</li>
							</ul>
						</div>
						<div ng-if="network" class="dropdown-toggle pull-left">
							&nbsp;
							<button type="button" class="btn btn-default">
								Power Status: {{filterStatus || 'All'}} <span class="caret"></span>
							</button>
							<ul class="dropdown-menu" role="menu">
								<li ng-repeat="(t, v) in statuses">
									<a href="" ng-click="setStatusFilter(t)">{{t}}</a>
								</li>
							</ul>
						</div>
						<div class="dropdown-toggle pull-left">
							&nbsp;
							<button type="button" class="btn btn-info">
								{{network.name || network.key || "No network selected"}} <span class="caret"></span>
							</button>
							<ul class="dropdown-menu" role="menu">
								<li ng-repeat="net in networks">
									<a href="" ng-click="setNetwork(net)">{{net.name || net.key}}</a>
								</li>
							</ul>
						</div>
						<div class="pull-left">
							&nbsp;
							<button type="button" class="btn btn-danger" ng-click="logout()">
								Logout
							</button>
						</div>
					</div>
				</div>

				<div class="row">
					<div ng-if="!network.key">
						<div class="alert alert-warning">
							No network selected
						</div>
					</div>
					<div ng-if="network.key">

						<h1 ng-if="load[0] !== load[1]"><center>Loading {{(load[0] / load[1]) * 100 | number:0}}%</center></h1>

						<div ng-if="loadError.length > 0" class="alert alert-warning">
							Failed to fetch {{3*loadError.length}} days of data.

							<button type="button" class="btn btn-success" ng-click="dataload(network.key, loadError)">
								Try to reload
							</button>
						</div>

						<table class="table table-striped table-bordered">
							<tr>
									<th>
										<a href="" ng-click="predicate = 'address'; reverse=false">UID</a>
										(<a href="" ng-click="predicate = '-address'; reverse=false">^</a>)
									</th>
									<th>
										<a href="" ng-click="predicate = 'name'; reverse=false">Name</a>
										(<a href="" ng-click="predicate = '-name'; reverse=false">^</a>)
									</th>
									<th>
										<a href="" ng-click="predicate = 'online'; reverse=false">Hours Online</a>
										(<a href="" ng-click="predicate = '-online'; reverse=false">^</a>)
									</th>
									<th>
										<a href="" ng-click="predicate = 'wattage'; reverse=false">Wattage [W]</a>
										(<a href="" ng-click="predicate = '-wattage'; reverse=false">^</a>)
									</th>
									<th>
										<a href="" ng-click="predicate = 'consumption'; reverse=false">Power Consumption [Wh]</a>
										(<a href="" ng-click="predicate = '-consumption'; reverse=false">^</a>)
									</th>
									<th>
										<a href="" ng-click="predicate = 'latest'; reverse=false">Power Status</a>
										(<a href="" ng-click="predicate = '-latest'; reverse=false">^</a>)
									</th>
							</tr>
							<tr ng-repeat="(k, dev) in filteredDevices = (devicemap | filter:filterType | filter:filterStatus) | orderBy:predicate:reverse track by dev.key">
								<td>{{dev.address | address:"hex"}}</td>
								<td>{{dev.name || "Unnamed device - " + dev.key}}</td>
								<td>{{dev.online}}</td>
								<td>{{dev.wattage}}</td>
								<td>{{dev.consumption}}</td>
								<td>
									<span ng-if="'online' === dev.power_status" class="label label-success">Online</span>
									<span ng-if="'offline' === dev.power_status" class="label label-danger">Offline &ndash; since {{dev.latest| fuzzyDate}}</span>
									<span ng-if="'unknown' === dev.power_status" class="label label-default">Unknown status</span>
								</td>
							</tr>
							<tr ng-hide="filteredDevices.length">
								<td colspan="6"><center>No items found, either a empty network or restricted by filter.</center></td></tr>
						</table>
					</div>
				</div>
			</div>

		</div>

		<script src="dist/angular.js"></script>
		<script src="dist/crypto.js"></script>
		<script src="dist/underscore.js"></script>
		<script src="dist/ngStorage.min.js"></script>
		<script src="tm.cloud.client.js"></script>
		<script src="auth-controller.js"></script>
		<script src="app.js"></script>
	</body>
</html>

